<div  style="margin-left: 0%; width: 100%">

  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Cadastro de Participantes </h3>
    </div>

    <form class="form-group" >

      <div [ngClass]="classCss" role="alert" *ngIf="message">
          <strong>{{ message.text }}</strong>
      </div>

      <div class="box-body">

        <div class="form-group">

          <p-table [columns]="cols" [value]="cars" selectionMode="single" [(selection)]="selectedCar1" dataKey="vin" [scrollable]="true" scrollHeight="100px">
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns">
                          {{col.header}}
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr [pSelectableRow]="rowData">
                      <td *ngFor="let col of columns">
                          {{rowData[col.field]}}
                      </td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                  <div style="text-align: left">
                      Selected Car: {{selectedCar1 ? selectedCar1.vin + ' - ' + selectedCar1.brand + ' - ' + selectedCar1.year + ' - ' + selectedCar1.color: 'none'}}
                  </div>
              </ng-template>
          </p-table>

        </div>
        
        <div class="form-group col-sm-5">
            <label for="inputEmail3" class="control-label">Email</label>
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
        
        <div class="form-group col-sm-5">
            <label for="inputEmail3" class="control-label">Email</label>
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>

        <div class="form-group col-sm-3">
            <label for="inputEmail3" class="control-label">Email</label>
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>

        <div class="form-group col-sm-3">
            <label for="inputEmail3" class="control-label">Email</label>
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>

        <div class="form-group col-sm-3">
            <label for="inputEmail3" class="control-label">Email</label>
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>

      </div>
      
      <div class="box-footer">
        <button type="submit" class="btn btn-info pull-right">Create</button>
      </div>
    </form>
  </div>

</div>